.smartdofollow {
    font-size: 13px;
    color: #444;
}

.smartdofollow h3 {
    margin-top: 30px;
}

.smartdofollow .left20 {
    margin-left: 20px;
}

.smartdofollow h4 {
    margin: 0 0 8px;
}

.socialfit ul li {
    margin-bottom: 10px;
}

.socialfit ul li span {
    color: #0066CC;
    font-family: monospace;
    font-size: 15px;
}